.login-page {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.email-input, .password-input, .login-button, .signup-button {
  min-width: 300px;
  width: 30%;
  margin: 4px;
}
