<div class="login-page">
  <div class="input-container">
    <mat-form-field appearance="fill" class="email-input">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="password-input">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password.invalid">{{getPwdErrorMessage()}}</mat-error>
    </mat-form-field>

    <button (click)="onClick()" mat-raised-button color="primary" class="login-button">Login</button>
    <button (click)="onClickSignUp()" mat-raised-button color="primary" class="signup-button">Sign up</button>
  </div>
</div>
